svg, img{
    display: inline;
}
.logo-welcome-size{
    height: 4pc;
}
#login{
    background-color: white;
    color: black;
}
#signup{
    background-color: #ed6966;
    color: white;
}

.logo-home-size {
    height: 2pc;
}
.custom-jumbotron {
    width: 100% !important;
}
.custom-span {
    font-size: 35px !important;
    color: #ed6966;
}
#footer-link{
    color: white;
    text-decoration: underline !important;
}
