svg, img{
    display: inline;
}
.logo-welcome-size{
    height: 4pc;
}
#login{
    background-color: white;
    color: black;
}
#signup{
    background-color: #ed6966;
    color: white;
}

.logo-home-size {
    height: 2pc;
}
.custom-jumbotron {
    width: 100% !important;
}
.custom-span {
    font-size: 35px !important;
    color: #ed6966;
}
#footer-link{
    color: white;
    text-decoration: underline !important;
}
.welcome-tick{
    margin-bottom: 3px;
}
@media (max-width: 700px) {
    .custom-span{
        font-size: 17.5px !important;
        text-align: left !important;
    }
    #discount-sec-title{
        font-size: 30px;
    }
    .discount-sec{
        font-size: 10px;
    }
}
.cardSize{
    width: 25% !important;
    margin-right: 0px !important;
    border-color: white !important;
    margin-bottom: 50px !important;
}
.whiteborbg{
    border-color:white;
    background: white;
}
.show-p{
    font-weight: 600;
    font-size: 50px;
    text-align: center;
}
@media (max-width: 700px) {
    .custom-span{
        font-size: 17.5px !important;
        text-align: left !important;
    }
    #discount-sec-title{
        font-size: 30px;
    }
    .discount-sec{
        font-size: 10px;
    }
    .cardSize{
        width: 50% !important;
    }
}